.about-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
}

.about-heading {
      font-size: 28px;
      color: purple;
}

.about-heading span {
      color: orange;
}

.about-me-image {
      width: 180px;
      height: 180px;
      border-radius: 90px;
      margin: 20px 0;
      border: 4px solid purple;
      object-fit: cover;
}

.about-name {
      background: linear-gradient(red, blue);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}

.about-role {
      background: linear-gradient(blue, red);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 22px;
}

.about-description {
      font-size: 16px;
      color: rgb(84, 58, 84);
      text-align: center;
      margin: 20px 0;
      padding: 10px;
}

@media (min-width: 768px) {
      .technologies-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
      }

      .tech-container {
            width: 44%;
            border: 2px solid purple;
            border-radius: 6px;
            min-height: 190px;
            padding: 10px;
            margin: 10px;

      }

}

@media (max-width: 767px) {
      .technologies-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
      }

      .tech-container {
            width: 100%;
            border: 2px solid purple;
            border-radius: 6px;
            min-height: 190px;
            padding: 10px;
            margin: 10px;
            padding-left: 30px;
      }
}

.skill-name {
      font-size: 24px;
      color: orange;
}

.list {
      color: purple;
}