.skills-container {
      padding: 12px;
}


@media (max-width: 767px) {
      .skills-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
      }

      .skill-container-content {
            width: 90%;
            margin: 10px;
            padding: 14px;
      }
}

@media (min-width: 768px) {
      .skills-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
      }

      .skill-container-content {
            width: 80%;
            padding: 10px;
      }
}

.skills-heading {
      text-align: center;
      background: linear-gradient(purple, red);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}

.left-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.right-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.coding-heading {
      font-size: 24px;
      color: rgb(15, 177, 240);
}

.skill-container-content {
      border: 2px solid purple;
      border-radius: 8px;
      min-height: 250px;


}

.skill-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 6px;
}

.skill-top-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}

.skill-top-container {
      font-size: 8px;
      color: orange;
}

.skill-bottom-container {
      width: 90%;
}

.scroll-container {
      width: 90%;
      height: 6px;
      padding: 3px 1px 1px 1px;
      border: 2px solid purple;
      border-radius: 6px;
}

.area-container {
      background-color: purple;
      width: 80%;
      height: 4px;
      border-radius: 4px;
}

.seventy {
      width: 70%;
}

.seven-six {
      width: 76%;
}